%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title My RPG Game
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/styles.css?salt=#{Time.now.to_i}", :rel => "stylesheet"}
    %script{:src => "https://code.jquery.com/jquery-3.2.1.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    %script{:src => "/engine.js?salt=#{Time.now.to_i}"}
  %body
    %div#floating-menu
      %button#expand-menu{:style => "float: right; width: 100%;"} +
      %div#menu{:style => "display: none;"}
        %ul
          %li#start-battle Start Battle
          %li#console Open Console
          %li#select-soundtrack Sound Manager
    %div#coords-box{:style => "position: fixed; top: 0; right: 0; background-color: white; padding: 10px; border: 1px solid black;"}
    %div.image-container
      %image{:src=>background_path, :style=>"overflow: scroll; height: #{background_height}px; width: #{background_width}px; object-fit: cover; object-position: top;"}
    %div.tiles-container{:data=>{:width=>background_width, :height=>background_height}}
    %div.modal.fade{:id => "modal-1", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
      %div.modal-dialog
        %div.modal-content
          %div.modal-header
            %button.close{"aria-label" => "Close", :type => "button", "data-dismiss" => "modal"}
              %span{"aria-hidden" => "true"} &times;
            %h4.modal-title{:id => "myModalLabel"} Modal title
          %div.modal-body
          %div.modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary{:type => "button"} Save changes
  
                  
                
